.card {
  height: 31.25rem;
  width: 20rem;
  background-color: $white;
  border-radius: 1.25rem;
  padding: 1rem; 
  box-shadow: 0 2rem 3rem rgba($color: $dark-blue, $alpha: 0.1);

  img {
    max-width: 100%;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    border-radius: 0.75rem;
  }

  &__content {
    margin: 1.5rem 1rem;
    text-align: center;

    h1 {
      font-size: 1.25rem;
      font-weight: 700;
      color: $dark-blue;
    }
  
    p {
      font-size: 0.9375rem;
      color: $grayish-blue;
    }
  }
}